<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.3.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
    <!--spring包扫描-->
    <context:component-scan base-package="org.lanqiao" />
    <!--开启springMVC注解支持-->
    <mvc:annotation-driven />
    <!-- 定义跳转的文件的前后缀 ，视图模式配置-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 自动给后面action的方法return的字符串加上前缀和后缀，变成一个 可用的url地址 -->
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <mvc:interceptors>
        <bean class="org.lanqiao.interceptor.EncodingInterceptor"/>
    </mvc:interceptors>

    <bean id="aspectBean" class="org.lanqiao.aop.LogAOP" />
    <aop:config>
        <aop:aspect id="aspectBean" ref="aspectBean">
            <aop:pointcut id="logLog" expression="execution(* org.lanqiao.service.*.*(..))"/>
            <aop:before method="somethingBefore" pointcut-ref="logLog" />
        </aop:aspect>
    </aop:config>


    <mvc:cors>
        <mvc:mapping path="/**"
        allowed-origins="*"
        allowed-methods="GET,PUT,POST,DELETE"
        allowed-headers="X-Requested-With,Origin,Content-Type,Accept,Authorization" />
    </mvc:cors>
</beans>